
{{ 'home-featured-blog.css' | asset_url | stylesheet_tag }}

  
{%- liquid assign article = section.settings.article -%}

<div class = "main-content" style="background-image:url({{ section.settings.article.image | image_url }});" class="featured_article__section">

  <div class = "row1" >
    <div>
      <a href="{{ article.url }}">Field Notes</a>
    </div>
    <div>{{ article.created_at | date: '%m.%d.%Y' }}</div>
    <div>{{ article.metafields.custom.location.value.town }}</div>
    <div> {{ article.metafields.custom.location.value.state }} </div>
  </div>

  <div class="row2">
      <h2>{{ article.title }}</h2>
        <button style=""> Read More </button>
  </div>
          

</div>
{% schema %}
    {
    "name": "Featured Article",
    "class":"featured-article",
    "settings": [
        {
      "type": "article",
      "id": "article",
      "label": "Article"
    },
    {
      "type": "image_picker",
      "id": "background-image",
      "label": "Background Image"
    },
    {
        "type": "range",
        "id": "opacity",
        "max": 100,
        "min": 0,
        "label": "Image Opacity",
        "default": 100
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background Color",
      "default":"#000000"
    }
    ],
    "presets": [
        {
        "name": "Featured Article"
        }
    ]

    }
{% endschema %}